body{
	background-color: #444444;	
	color: white;
}

h1{
	font-family: "Lucida Console";
	font-style: italic;
}

h3{
	font-size: 25px;
}

h1, h3, nav{
	text-align: center;
}

p{
	font-family: "Lucida Console";
}
