*{
  box-sizing: border-box;
}

/*HEADER STYLING*/
h1{
  padding-top: 50px;
}

/*NAV STYLING*/
nav{
  z-index: 1;
  position: fixed;
  width: 100%;
}

nav p, ul{
  width: 49%;
  display: inline-block;
}

li{
  list-style: none;
  display: inline-block;
}

/*SECTION STYLING*/
div{
  position: relative;
}

div p{
  position: absolute;
  bottom: 50px;
  color: red;
}


.back{
  height: 500px;
  background-image: url(http://i3.ytimg.com/vi/z_M2AVv5opg/hqdefault.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}









